.stidyData{
    width 100%;
    height 100%;
    position relative;
    .view_left{
        width 48.125rem;
        height calc(100% - 2.25rem);
        padding 2.25rem 0rem 0rem 1.875rem;
        background-color rgba(0, 0, 0, .2);
        // float left;
        position absolute;
        top 0rem;
        left 0rem;
        .left_one_Dom{
            margin-bottom 3.125rem;
        }
        .left_pic_view{
            width 100%;
            height 30.375rem;
            margin-bottom 7.125rem;
        }
    }
    .view_center{
        width 100.25rem;
        height 100%;
        margin-left 1rem;
        margin-right 1.25rem;
        // float left;
        position absolute;
        top 0rem;
        left 50rem;
        .center_top{
            width calc(100% - 4.25rem);
            height 66.5rem;
            padding 2.125rem 2rem 0rem 2.25rem;
            margin-bottom 1rem;
            background-color rgba(0, 0, 0, .2);
            .center_top_oneDom{
                height 18.875rem;
                .border_class_deiv{
                    width 46.625rem;
                    height 18.875rem;
                    text-align center;
                    float left;
                    .number{
                        margin-bottom .75rem !important;
                    }
                }
            }
            .center_top_bir{
                width 46.625rem;
                height 33rem;
                float left;
            }
        }
        .center_bottom{
            width calc(100% - 2.5rem);
            height 53.5rem;
            padding 2.5rem 0px 0px 2.25rem;
            background-color rgba(0, 0, 0, .2);
            .cetner_btn_son{
                width 50%;
                float left;
                .pic_title{
                    text-align right;
                    font-size 1.75rem;
                    font-family PingFangSC-Regular, PingFang SC;
                    font-weight 400;
                    color #B4BFEB;
                    line-height 2.5rem;
                }2
                .btn_view{
                    float left;
                    width 100%;
                    height 35rem;
                }
                .btn_viewa{
                    float left;
                    width 100%;
                    height 30rem;
                }
            }
        }
    }
    .view_right{
        width 84.75rem;
        height 100%;
        // float left;
        position absolute;
        right 0rem;
        right 0rem;
        .right_top_Dom{
            width calc(100% - 4.375rem);
            height 46.5rem;
            padding 1.875rem 2.25rem 0px 2.125rem;
            margin-bottom 1.5rem;
            background-color rgba(0, 0, 0, .2);
            position relative;
            .view_right_son{
                width calc(50% - .125rem);
                height 32.625rem;
                float left;
                .son{
                    width 100%;
                    height calc(50% - .125rem);
                    text-align center;
                    .right_num_dom{
                        margin-right 4.125rem;
                        display inline-block;
                    }
                    .right_num_dom:last-child{
                        margin-right 0;
                    }
                    .subunit{
                        display block;
                    }
                }
            }
        }
        .right_center_Dom{
            width calc(100% - 1.25rem);
            height 31.625rem;
            padding 2.375rem 0rem 3.125rem 1.25rem;
            margin-bottom 1.25rem;
            background-color rgba(0, 0, 0, .2);
        }
        .right_bottom_Dom{
            width calc(100% - 1.25rem);
            height 31.625rem;
            padding 2.375rem 0rem 3.125rem 1.25rem;
            background-color rgba(0, 0, 0, .2);
        }
        .right_View_line{
            width 100%;
            height calc(100% - 2.75rem);
        }
    }
}