.appData{
    width 100%;
    height 100%;
    position relative;
    h2{
        width 100% !important;
        display inline-block !important;
    }
    .app_left{
        width 90rem;//89.375rem;88.75rem
        height calc(100% - 2.25rem);
        padding 2.25rem 1.375rem 0rem 2rem;
        // margin-right 1.25rem;
        background-color rgba(0, 0, 0, .2);
        // float left;
        position absolute;
        top 0rem;
        left 0rem;
        .left_Dom{
            .son_numberData{
                width 28rem;
                float left;
                .number{
                    margin-bottom 4.375rem !important;
                }
                .number:last-child{
                    margin-bottom 0 !important;
                }
            }
            .line{
                width calc(100% - 28rem);
                height 30rem;
                float left;
                .pic{
                    width 50%;
                    height 100%;
                    float left;
                }
            }
        }
        .left_Doma{
            width 100%;
            height 36.75rem;
            padding-top 3.625rem;
            border-top .125rem solid #464971;
            box-sizing border-box;
        }
        .left_Domb{
            width 100%;
            height 36.625rem;
            padding-top 3.625rem;
            border-top .125rem solid #464971;
            box-sizing border-box;
        }
        .left_Domc{
            width 100%;
            height 33.25rem;
            padding-top 2rem;
            border-top .125rem solid #464971;
            box-sizing border-box;
        }
    }
    .app_right{
        width 142.5rem;
        height 100%;
        background-color rgba(0, 0, 0, .2);
        // float left;
        position absolute;
        top 0rem;
        right 0rem;
        .lines{
            width 100%;
            height 76rem;
        }
        .pics{
            width 90%;
            height 38rem;
            margin 0 auto;
            div{
                width 50%;
                height 100%;
                float left;
            }
        }
    }
}