.teaching{
    width 100%;
    height 100%;
    position relative;
    .view_left{
        width 48.125rem;
        height calc(100% - 2.25rem);
        padding 2.25rem 0 0 1.875rem;
        background-color rgba(0, 0, 0, .2);
        position absolute;
        top 0rem;
        left 0rem;
        // display inline-block;
        // float left;
        .resource{
            .number:last-child{
                margin-bottom 2.5rem;
            }
            .view_pic_left{
                width 100%;
                height 16.625rem;
                margin-bottom 6.75rem;
            }
            .pic{
                width 100%;
                height 18.75rem;
                margin-bottom .375rem;
                .pci_num{
                    width calc(100% - 18.375rem);//calc(100% - 22.375rem)
                    height calc(100% - 4.5rem);
                    padding-top 4.5rem;
                    float left;
                }
                .view_pic{
                    width 18rem;//22.375rem
                    height 100%;
                    float left;
                }
            }
        }
    }
    .view_center{
        width 100.25rem;
        height 100%;
        margin-left 1rem;
        margin-right 1.125rem;
        position absolute;
        top 0rem;
        left 50rem;
        // display inline-block;
        float left;
        .center_top{
            width calc(100%-4.375rem);
            height 63.75rem;
            padding 2.125rem 1.875rem 0 2.5rem;
            margin-bottom 1.375rem;
            background-color rgba(0, 0, 0, .2);
            .top_sonDom_left{
                width 45.875rem;
                margin-right 4.125rem;
                margin-bottom 2.75rem;
                display inline-block;
                .minSonDom{
                    height 14.125rem;
                    padding 2.5rem 0rem;
                    border .125rem solid #344C71;
                    box-sizing border-box;
                    .leftNumber{
                        div{
                            width calc(50% - 0.1875rem);
                            display inline-block;
                            text-align center;
                            .figure{
                                font-size 3rem !important;
                            }
                        }
                        div:nth-child(1){
                            border-right .125rem solid #344C71;
                        }
                    }
                }
            }
            .ac{
                width 46.5rem;
                margin-right 3.625rem;
            }
            .ab{
                width 45rem;
            }
            .top_viewEchr{
                height 35rem;
                display inline-block;
            }
        }
        .center_bottom{
            width calc(100% - 2.25rem);
            height 56.298rem;
            padding 1.875rem 0 0 2.25rem;
            background-color rgba(0, 0, 0, .2);
            .View_line{
                width 100%;
                height 23.125rem;
                margin-bottom: 2rem;
            }
        }
        .bottom_SonDom{
            width 32.75rem;
            height 27rem;
            margin-right 8.25rem;
            float left;
            .SonView_pic{
                width 100%;
                height calc(100% - 2.5rem)
            }
        }
        .bottom_SonDomYes{
            width 25.375rem;
            height 27rem;
            float left;
            p{
                margin-bottom 2.375rem;
            }
            ul{
                li{
                    margin-bottom 3.5rem;
                    .title{
                        margin-right 4rem;
                    }
                }
            }
        }
    }
    .view_right{
        width 84.75rem;
        height 100%;
        // display inline-block;
        // float left;
        position absolute;
        top 0rem;
        right 0rem;
        .right_top_Dom{
            width calc(100% - 4.375rem);
            height 46.5rem;
            padding 1.875rem 2.25rem 0px 2.125rem;
            margin-bottom 1.5rem;
            background-color rgba(0, 0, 0, .2);
            position relative;
            .view_right_son{
                width calc(50% - .125rem);
                height 32.625rem;
                float left;
                .son{
                    width 100%;
                    height calc(50% - .125rem);
                    text-align center;
                    .right_num_dom{
                        margin-right 4.125rem;
                        display inline-block;
                    }
                    .right_num_dom:last-child{
                        margin-right 0;
                    }
                    .subunit{
                        display block;
                    }
                }
            }
        }
        .right_center_Dom{
            width calc(100% - 1.25rem);
            height 31.625rem;
            padding 2.375rem 0rem 3.125rem 1.25rem;
            margin-bottom 1.25rem;
            background-color rgba(0, 0, 0, .2);
        }
        .right_bottom_Dom{
            width calc(100% - 1.25rem);
            height 31.625rem;
            padding 2.375rem 0rem 3.125rem 1.25rem;
            background-color rgba(0, 0, 0, .2);
        }
        .right_View_line{
            width 100%;
            height calc(100% - 2.75rem);
        }
    }   
}