.home{
    width calc(100% - 2.875rem);
    height calc(100% - 2.625rem);
    padding 1.625rem 1.125rem 1rem 1.75rem;
    .routerCut{
        width 100%;
        height calc(100% - 7rem);
        margin-bottom .75rem;
    }
    .navCut{
        width 100%;
        height 6.25rem;
        background-color #1C1D2B;
        ul{
            width 100%;
            li{
                width 25%;
                float left;
                line-height 6.25rem;
                list-style none;
                text-align center;
                span{
                    font-size 1.5rem;
                    font-family PingFangSC-Regular, PingFang SC;
                    font-weight 400;
                    color #B4BFE9;
                }
                .ThisRouter{
                    color #00B0AE;
                    display inline-block;
                    line-height 6rem;
                    border-bottom .25rem solid #00B0AE;
                }
            }
        }
    }
}